<div class="layout layout--col layout--top">

    <div class="grid grid--cols-1 gap--medium">
        <div class="grid grid--cols-3">
            <div class="col--span-2">
            <span class="value value--xsmall text--black">WEDNESDAY <span class="text--gray-3">02/12/25</span></span>
            </div>
            <div class="col--span-1 row--end">
                <span class="value value--xsmall value--tnums text--gray-3">55°/51°</span>
                <span class="value value--xsmall">⛅</span>
            </div>
        </div>
    </div>
    <div class="grid grid--cols-1 gap--medium">
        <div class="grid grid--cols-1">
            <div class="item">
                <div class="content">
                    <span class="label label--inverted clamp--1">All Day event ipsum delor sit amet de alaganny thing that goes on way to long, why is this text soo long </span>
                </div>
            </div>
        </div>
        <div class="grid grid--cols-2">
            <div class="item">
                <div class="meta">1</div>
                <div class="content">
                    <span class="value value--xxsmall text--gray-4">11:00 - 12:30</span>
                    <span class="title title--small clamp--1">ADVNC 2029 Tryout Lorem impum delor sit amet verboten verbose super long content</span>
                    <span class="description clamp--1">Verboten verbose super long content Verboten verbose super long content Verboten verbose super long content Verboten verbose super long content</span>
                </div>
            </div>
            <div class="item">
                <div class="meta">2</div>
                <div class="content">
                    <span class="value value--xxsmall text--gray-4">11:00 - 12:30</span>
                    <span class="title title--small clamp--1">ADVNC 2029 Tryout Lorem impum delor sit amet</span>
                    <span class="description clamp--1">verbose super long content Veotenng content</span>
                </div>
            </div>
            <div class="item">
                <div class="meta">3</div>
                <div class="content">
                    <span class="value value--xxsmall text--gray-4">11:00 - 12:30</span>
                    <span class="title title--small clamp--1">ADVNC 2029 Tryout Lorem impum delor sit amet verboten verbose super long content</span>
                    <span class="description clamp--1">Verboten verbose super long content Verboten verbose super long content Verboten verbose super long content Verboten verbose super long content</span>
                </div>
            </div>
            <div class="item">
                <div class="meta">4</div>
                <div class="content">
                    <span class="value value--xxsmall text--gray-4">11:00 - 12:30</span>
                    <span class="title title--small clamp--1">ADVNC 2029 Tryout Lorem impum delor sit amet</span>
                    <span class="description clamp--1">verbose super long content Veotenng content</span>
                </div>
            </div>
            <div class="item">
                <div class="meta">5</div>
                <div class="content">
                    <span class="value value--xxsmall text--gray-4">11:00 - 12:30</span>
                    <span class="title title--small clamp--1">ADVNC 2029 Tryout Lorem impum delor sit amet verboten verbose super long content</span>
                    <span class="description clamp--1">Verboten verbose super long content Verboten verbose super long content Verboten verbose super long content Verboten verbose super long content</span>
                </div>
            </div>
            <div class="item">
                <div class="meta">6</div>
                <div class="content">
                    <span class="value value--xxsmall text--gray-4">11:00 - 12:30</span>
                    <span class="title title--small clamp--1">ADVNC 2029 Tryout Lorem impum delor sit amet</span>
                    <span class="description clamp--1">verbose super long content Veotenng content</span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/stock_price--render.svg" />
  <span class="title">Family Calendar</span>
  <span class="instance">iCloud</span>
</div>